# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub
- List popular languages for Data Science:
  - Python
  - R
  - Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python:
result_add = 5 + 3
result_sub = 10 - 4
result_mul = 6 * 7
result_div = 15 / 3

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

In [ ]:
## Author

Author name is: SHAHARIAZZAMAN JOY